/*
	IMPORT 
	*************************
*/
/*
	VARIABLES
	----------------------------------------------
*/
/* 
	SINGLE POST FORMAT
	------------------------------------
*/
.content-area {
  margin-left: 60px; }

.single-page-container {
  width: 80%;
  margin: auto; }
  .single-page-container article {
    min-height: 800px; }

.test-single-page {
  padding: 40px 90px;
  background-color: #fff; }

.navigation,
.post-navigation {
  width: 95%;
  margin: auto; }

.stripped-single-post p {
  letter-spacing: 0.4px;
  line-height: 1.5; }
.stripped-single-post.entry-content {
  min-height: 450px; }
.stripped-single-post.entry-header {
  margin-bottom: 120px; }
.stripped-single-post.entry-meta {
  text-align: center;
  font-size: 20px; }
  .stripped-single-post.entry-meta a {
    color: #000;
    text-decoration: none; }
.stripped-single-post.entry-title {
  text-align: center; }
  .stripped-single-post.entry-title.entry-title h1 {
    font-size: 35px;
    margin: 0;
    line-height: 1;
    padding-top: 15px; }
.stripped-single-post.entry-keywords {
  padding-top: 50px;
  padding-left: 20px; }
  .stripped-single-post.entry-keywords a {
    padding-left: 7px;
    color: #000;
    text-decoration: none;
    font-size: 15px; }
.stripped-single-post.entry-footer {
  margin-top: 150px; }

/* 
	FOOTER 
	----------------------------------------
*/
.stripped_post_navigation.previous {
  display: block;
  position: relative;
  width: 50px; }

.nav-prev,
.nav-next {
  display: block;
  width: 50px;
  height: 50px;
  margin: 10px;
  background-color: #ff007f; }
  .nav-prev span,
  .nav-next span {
    color: #fff;
    font-size: 18px;
    font-weight: 300; }
  .nav-prev a.stripped-prev-a,
  .nav-prev a.stripped-next-a,
  .nav-next a.stripped-prev-a,
  .nav-next a.stripped-next-a {
    position: absolute;
    margin-top: -50px;
    margin-left: 18px;
    color: #fff;
    font-weight: 200; }

.meta-nav a {
  text-decoration: none;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: #000;
  color: black;
  text-shadow: rgba(245, 245, 245, 0.08) 1px 1px 1px; }
  .meta-nav a:hover, .meta-nav a:focus {
    color: #d2d2d2; }

.meta-nav a:before {
  font-family: 'FontAwesome';
  content: '\f0da';
  font-size: 21px;
  position: relative; }

.nav-prev {
  position: absolute;
  top: -400px;
  left: -100px; }
  .nav-prev a {
    text-decoration: none;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: #000;
    color: black;
    text-shadow: rgba(245, 245, 245, 0.08) 1px 1px 1px; }
    .nav-prev a:hover, .nav-prev a:focus {
      color: #d2d2d2; }
  .nav-prev a:before {
    font-family: 'FontAwesome';
    content: '\f0d9';
    font-size: 30px;
    position: relative;
    left: 15px;
    top: 10px; }

.nav-next {
  position: absolute;
  top: -400px;
  right: -100px; }
  .nav-next a {
    text-decoration: none;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: #000;
    color: black;
    text-shadow: rgba(245, 245, 245, 0.08) 1px 1px 1px; }
    .nav-next a:hover, .nav-next a:focus {
      color: #d2d2d2; }
  .nav-next a:before {
    font-family: 'FontAwesome';
    content: '\f0da';
    font-size: 30px;
    position: relative;
    left: 20px;
    top: 10px; }

.stripped-single-post-footer {
  position: relative;
  display: block;
  width: 100%;
  margin: auto;
  height: 100px; }

/*Load More Related Posts */
ol.posts {
  display: block;
  position: relative;
  width: 100%;
  height: 50px; }

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

img.aligncenter {
  @incude fullwidth(); }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto; }

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */ }

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

/*
	ADMIN COSTUM STYLES 
	*************************
*/
/* TYPOGRAPHY */
.roboto-font h1, .roboto-font h2, .roboto-font h3, .roboto-font h4, .roboto-font h5, .roboto-font h6, .roboto-font a, .roboto-font p {
  font-family: 'roboto', sans-serif; }

.open-sans-font h1, .open-sans-font h2, .open-sans-font h3, .open-sans-font h4, .open-sans-font h5, .open-sans-font h6, .open-sans-font a, .open-sans-font p {
  font-family: 'Open Sans', sans-serif; }

.playfair-font h1, .playfair-font h2, .playfair-font h3, .playfair-font h4, .playfair-font h5, .playfair-font h6, .playfair-font a, .playfair-font p {
  font-family: 'Playfair Display', serif; }

/* POST FORMAT */
.around-article-post-fullwidth .around-article-post {
  overflow: hidden;
  max-height: 600px;
  min-height: auto;
  width: 99%;
  display: block;
  margin: 1%;
  float: none; }

.around-article-post-thirdwidth .around-article-post {
  overflow: hidden;
  max-height: 600px;
  min-height: auto;
  width: 31%;
  display: block;
  margin: 1%; }
  .around-article-post-thirdwidth .around-article-post.article-post-image .inner-article-post {
    max-width: 60%; }

/*
	GENERAL 
	*************************
*/
html {
  margin-top: -30px !important; }

body {
  width: 100%; }
  body h1, body h2, body h3, body h4, body h5, body h6, body a, body p {
    font-family: 'lato', sans-serif; }

.content-area {
  margin-top: 0px; }

.category-grid {
  -moz-column-count: 2;
  /* Amount of columns for your grid */
  -webkit-column-count: 2;
  /* Amount of columns for your grid */
  column-count: 2;
  /* Amount of columns for your grid */
  -moz-column-gap: 1em;
  /* Creates a small gap between your individual grid boxes */
  -webkit-column-gap: 1em;
  /* Creates a small gap between your individual grid boxes */
  column-gap: 1em;
  /* Creates a small gap between your individual grid boxes */ }

.item {
  background-color: #e4e4e4;
  /* Gives the individual grids a different background colour to create a neater look */
  display: inline-block;
  float: left;
  margin: 0 0 1em;
  /* Creates a bottom margin underneath the individual grids */
  padding: 10px;
  width: 100%; }
  .item.one {
    height: 70px; }
  .item.two {
    height: 50px; }
  .item.three {
    height: 20px; }

ul {
  list-style: none; }

a {
  -webkit-transition: color 820ms ease;
  -moz-transition: color 820ms ease;
  -ms-transition: color 820ms ease;
  -o-transition: color 820ms ease;
  transition: color 820ms ease; }
  a:hover, a:focus {
    text-decoration: none; }

.test-header-background {
  margin-top: -40px;
  min-height: 100vh; }

h2.portfolio-header {
  text-align: center; }

.background-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.header-content {
  text-align: center;
  color: #fff; }
  .header-content .table-cell {
    padding-top: 10%; }

a.btn.tbn-default {
  text-decoration: none;
  color: #000; }

/*
	FIRST MENU 
	*************************

*/
.brand {
  padding-left: 20px;
  width: 30px;
  top: 10px;
  float: left;
  text-transform: uppercase;
  padding: 10px 10px 0;
  overflow: hidden; }
  .brand a,
  .brand a:visited {
    font-size: 30px;
    font-family: Futura;
    background-color: #000;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: #000;
    color: transparent;
    text-shadow: rgba(245, 245, 245, 0.08) 1px 1px 1px;
    text-decoration: none; }
  .brand:hover {
    -webkit-transition: color 820ms ease;
    -moz-transition: color 820ms ease;
    -ms-transition: color 820ms ease;
    -o-transition: color 820ms ease;
    transition: color 820ms ease; }

.nav-first-container {
  position: fixed;
  display: block;
  inline: block;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #1d1d1d;
  padding: 0;
  max-width: 60px;
  min-height: 100vw;
  box-shadow: 1px 1px 5px #0000007a; }
  .nav-first-container .nav-first-row {
    padding: 10px 0; }

.firstnav ul {
  list-style: none;
  margin: 0; }
  .firstnav ul li {
    float: right;
    position: relative;
    right: 50px; }
    .firstnav ul li a,
    .firstnav ul li a:visited {
      display: block;
      padding: 0 10px;
      text-decoration: none;
      line-height: 2.2;
      color: #fff; }
      .firstnav ul li a:hover,
      .firstnav ul li a:visited:hover {
        background-color: #b1b1b1;
        color: #f11; }
.firstnav h1.site-title {
  font-size: 15px;
  padding-left: 25%;
  float: left; }
.firstnav h2.site-description {
  color: #afafaf;
  font-size: 12px;
  float: left;
  line-height: 1.5;
  padding-left: 20px;
  font-weight: 200; }

/*
	SECOND MENU 
	*************************


// Logo and branding
.brand {
  padding-left: 20px;
  width: 50px;
  top: 10px;
  float: left;
  text-transform: uppercase;
  font-size: 1.4em;
  padding: 10px 10px 0;

	  a,
	  a:visited {
		    color: $light-gray;
		    text-decoration: none;

		&:hover {
          color: $link-color;
        }
		  }
}

.nav-second-container{
	position: fixed;
	display: block;
	inline: block;
	z-index: 1;
	top: 0;
	left:0;
	right: 0;
	background-color: $dark-gray;
	padding: 0;
	height: 50px;
    min-height: 50px;
    min-width: 100vw;
    box-shadow: 0 1px 1px black;

    .nav-second-row { 
		padding: 10px 0;
    }

}
.secondnav {
	ul {
		list-style: none;
		margin: 0;
		


		li {
			float: right;
			position: relative;
			right: 50px;

			a,
			a:visited {
				display: block;
				padding: 0 10px;
				text-decoration: none;
				line-height: 2.2;
				color: $primary-color;

			&:hover { 
				background-color: $nav-link-background;
				color: $link-color;
			}	
			}
		}
		}
		h1.site-title{
		font-size: 15px;
		padding-left: 25%;
	    float: left;
	}
	h2.site-description{
		color: #afafaf;
	    font-size: 12px;
	    float: left;
	    line-height: 1.5;
	    padding-left: 20px;
	    font-weight: 200;
	}
}
*/
/*
	SIDEBAR 
	*************************
*/
.text-center {
  text-align: center; }

.test-sidebar {
  position: fixed;
  color: #fff;
  z-index: 2;
  top: 0;
  left: 60px;
  bottom: 0;
  padding: 0;
  background-color: #1f1f1f;
  height: 100vh;
  width: 100%;
  max-width: 280px;
  -webkit-transition: transform 420ms ease;
  -moz-transition: transform 420ms ease;
  -ms-transition: transform 420ms ease;
  -o-transition: transform 420ms ease;
  transition: transform 420ms ease;
  -webkit-box-shadow: 3px 3px 12px 2px #000;
  -moz-box-shadow: 3px 3px 12px 2px #000;
  box-shadow: 3px 3px 12px 2px #000; }
  .test-sidebar.sidebar-closed {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); }
  .test-sidebar a {
    color: #bababa;
    text-decoration: none; }
    .test-sidebar a:hover, .test-sidebar a:focus {
      color: #fff; }

.test-sidebar-container {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden; }

/* Icon 3 */
#nav-icon3 {
  width: 23px;
  position: fixed;
  bottom: 0;
  left: 18px;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#nav-icon3 span:nth-child(1) {
  top: 0px; }

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 9px; }

#nav-icon3 span:nth-child(4) {
  top: 18px; }

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

.image-container {
  display: block;
  width: 100%;
  overflow: hidden;
  text-align: center; }

.profile-picture {
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin: 20px auto;
  border-radius: 10%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

h1.test-username,
h2.test-discription,
h2.test-title {
  font-weight: 100;
  color: #fff; }

h1.test-username {
  font-size: 24px;
  margin: 0 0 10px; }

h2.test-discription {
  font-size: 13px;
  letter-spacing: 0.6px;
  line-height: 1.3;
  text-align: left;
  margin: auto;
  width: 70%; }

h2.test-title {
  font-size: 15px;
  margin: 0 0 20px; }

ul.socialMedia {
  list-style-type: none;
  display: inline-flex;
  padding-left: 20px; }

li.socialMedia {
  margin-right: 20px; }

.socialMedia a {
  text-decoration: none;
  font-family: Futura;
  background-color: #000;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: #000;
  color: black;
  text-shadow: rgba(245, 245, 245, 0.08) 1px 1px 1px; }
  .socialMedia a:hover, .socialMedia a:focus {
    color: #d2d2d2; }

.socialMedia a:before {
  font-family: 'FontAwesome';
  content: '\f16d';
  font-size: 21px;
  position: relative; }

.instagram a:before {
  content: '\f16d'; }

.facebook a:before {
  content: '\f09a'; }

.linkedIn a:before {
  content: '\f08c'; }

/* 
	STANDARD POST FORMAT
	------------------------------------
*/
.page-container-sidebar {
  margin-top: 0;
  margin-left: auto;
  width: 75%;
  float: right;
  padding-right: 3%; }
  .page-container-sidebar.page-container {
    width: 90%;
    padding-right: 5%;
    -webkit-transition: transform 420ms ease;
    -moz-transition: transform 420ms ease;
    -ms-transition: transform 420ms ease;
    -o-transition: transform 420ms ease;
    transition: transform 420ms ease; }

.page-sidebar-page {
  background-color: #fff; }

.around-article-post {
  overflow: hidden;
  width: 23%;
  display: block;
  float: left;
  margin: 1%; }
  .around-article-post .tag-list {
    font-size: 10px; }
    .around-article-post .tag-list a,
    .around-article-post .tag-list a:visited {
      color: #1d1d1d;
      text-decoration: none;
      padding-left: 5px;
      text-transform: uppercase; }
      .around-article-post .tag-list a:hover,
      .around-article-post .tag-list a:visited:hover {
        color: #eee; }

h1 {
  font-size: 15px;
  font-weight: 200;
  line-height: 0.5;
  color: #1d1d1d; }
  h1 a {
    color: #1d1d1d;
    text-decoration: none; }

.article-post-default {
  display: block;
  position: relative;
  min-height: 390px; }
  .article-post-default .entry-header {
    text-align: center;
    position: relative;
    display: block; }
  .article-post-default .standard-featured-link {
    display: block;
    position: relative; }
    .article-post-default .standard-featured-link:hover .standard-featured:after, .article-post-default .standard-featured-link:focus .standard-featured:after {
      box-shadow: inset 0px 0px 17px 6px rgba(0, 0, 0, 0); }
    .article-post-default .standard-featured-link .button-container {
      bottom: 10px;
      position: absolute;
      left: 35%; }
  .article-post-default .standard-featured {
    height: 100%;
    min-height: 250px;
    display: block;
    position: relative;
    margin: 0; }
    .article-post-default .standard-featured:after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      box-shadow: inset 0px 0px 17px 6px rgba(0, 0, 0, 0.19); }
    .article-post-default .standard-featured:hover, .article-post-default .standard-featured:focus {
      -webkit-transition: box-shadow 320ms ease;
      -moz-transition: box-shadow 320ms ease;
      -ms-transition: box-shadow 320ms ease;
      -o-transition: box-shadow 320ms ease;
      transition: box-shadow 320ms ease; }
      .article-post-default .standard-featured:hover:after, .article-post-default .standard-featured:focus:after {
        box-shadow: inset 0px 0px 17px 6px rgba(0, 0, 0, 0); }
  .article-post-default .entry-meta {
    font-size: 12px;
    position: absolute;
    z-index: 1;
    display: block;
    bottom: 0;
    background-color: #00000075;
    padding: 7px;
    letter-spacing: 0.6px; }
    .article-post-default .entry-meta a {
      color: #ffffff;
      text-decoration: none;
      cursor: pointer;
      font-weight: 200;
      font-style: italic;
      padding: 10px; }
  .article-post-default .entry-excerpt {
    font-size: 13px;
    padding: 10px 0;
    text-align: left;
    font-weight: 300;
    letter-spacing: 0.8px;
    line-height: 1.6; }
  .article-post-default .default-post-container {
    display: block;
    position: relative;
    background-color: #fff;
    min-height: auto;
    padding: 20px; }
    .article-post-default .default-post-container:hover, .article-post-default .default-post-container:focus {
      -webkit-transition: background-color 820ms ease;
      -moz-transition: background-color 820ms ease;
      -ms-transition: background-color 820ms ease;
      -o-transition: background-color 820ms ease;
      transition: background-color 820ms ease;
      background-color: #ffffffba; }
    .article-post-default .default-post-container h1 {
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 1px;
      line-height: 1.2;
      color: #1d1d1d;
      margin: 0; }
  .article-post-default .button-container {
    bottom: 10px;
    position: absolute;
    right: 10px; }
  .article-post-default .tag-list {
    font-size: 9px;
    padding: 10px 0 5px 0; }
  .article-post-default .split {
    width: 90px;
    height: 1px;
    background-color: #ff007f; }
  .article-post-default .button-container-readmore {
    background-color: #ff007f;
    width: 35px;
    height: 35px;
    position: absolute;
    display: block;
    bottom: 0;
    right: 0; }
  .article-post-default .btn-arrow {
    top: 7px;
    right: 13px;
    display: block;
    position: absolute; }
  .article-post-default .btn-arrow a {
    text-decoration: none;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: #000;
    color: black;
    text-shadow: rgba(245, 245, 245, 0.08) 1px 1px 1px; }
    .article-post-default .btn-arrow a:hover, .article-post-default .btn-arrow a:focus {
      color: #d2d2d2; }
  .article-post-default .btn-arrow a:before {
    font-family: 'FontAwesome';
    content: '\f0da';
    font-size: 21px;
    position: relative; }

/* 
	IMAGE POST FORMAT
	------------------------------------
*/
.pinit-dubble {
  width: 46%; }

.article-post-image {
  display: block;
  position: relative;
  min-height: 190px; }
  .article-post-image .entry-header {
    text-align: center;
    position: relative;
    display: block; }
  .article-post-image .standard-featured-link {
    display: block;
    position: relative; }
    .article-post-image .standard-featured-link:hover .standard-featured:after, .article-post-image .standard-featured-link:focus .standard-featured:after {
      box-shadow: inset 0px 0px 17px 6px rgba(0, 0, 0, 0); }
    .article-post-image .standard-featured-link .button-container {
      bottom: 10px;
      position: absolute;
      left: 35%; }
  .article-post-image .standard-featured {
    height: 100%;
    min-height: 250px;
    display: block;
    position: relative;
    margin: 0; }
    .article-post-image .standard-featured:after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      box-shadow: inset 0px 0px 17px 6px rgba(0, 0, 0, 0.19); }
    .article-post-image .standard-featured:hover, .article-post-image .standard-featured:focus {
      -webkit-transition: box-shadow 320ms ease;
      -moz-transition: box-shadow 320ms ease;
      -ms-transition: box-shadow 320ms ease;
      -o-transition: box-shadow 320ms ease;
      transition: box-shadow 320ms ease; }
      .article-post-image .standard-featured:hover:after, .article-post-image .standard-featured:focus:after {
        box-shadow: inset 0px 0px 17px 6px rgba(0, 0, 0, 0); }
  .article-post-image .entry-meta {
    font-size: 12px;
    position: absolute;
    z-index: 1;
    display: block;
    bottom: 0;
    background-color: #00000075;
    padding: 7px;
    letter-spacing: 0.6px; }
    .article-post-image .entry-meta a {
      color: #ffffff;
      text-decoration: none;
      cursor: pointer;
      font-weight: 200;
      font-style: italic;
      padding: 10px; }
  .article-post-image .entry-excerpt {
    font-size: 13px;
    padding: 10px 0;
    text-align: left;
    font-weight: 300;
    letter-spacing: 0.8px;
    line-height: 1.6; }
  .article-post-image .default-post-container {
    display: block;
    position: relative;
    background-color: #fff;
    min-height: auto;
    padding: 20px; }
    .article-post-image .default-post-container:hover, .article-post-image .default-post-container:focus {
      -webkit-transition: background-color 820ms ease;
      -moz-transition: background-color 820ms ease;
      -ms-transition: background-color 820ms ease;
      -o-transition: background-color 820ms ease;
      transition: background-color 820ms ease;
      background-color: #ffffffba; }
    .article-post-image .default-post-container h1 {
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 1px;
      line-height: 1.2;
      color: #1d1d1d;
      margin: 0; }
  .article-post-image .button-container {
    bottom: 10px;
    position: absolute;
    right: 10px; }
  .article-post-image .tag-list {
    font-size: 9px;
    padding: 10px 0 5px 0; }
  .article-post-image .split {
    width: 90px;
    height: 1px;
    background-color: #ff007f; }
  .article-post-image .button-container-readmore {
    background-color: #ff007f;
    width: 35px;
    height: 35px;
    position: absolute;
    display: block;
    bottom: 0;
    right: 0; }
  .article-post-image .btn-arrow {
    top: 7px;
    right: 13px;
    display: block;
    position: absolute; }
  .article-post-image .btn-arrow a {
    text-decoration: none;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: #000;
    color: black;
    text-shadow: rgba(245, 245, 245, 0.08) 1px 1px 1px; }
    .article-post-image .btn-arrow a:hover, .article-post-image .btn-arrow a:focus {
      color: #d2d2d2; }
  .article-post-image .btn-arrow a:before {
    font-family: 'FontAwesome';
    content: '\f0da';
    font-size: 21px;
    position: relative; }

/* 
	ASIDE POST FORMAT
	------------------------------------
*/
.article-post-aside {
  display: block;
  position: relative;
  min-height: 190px; }
  .article-post-aside .entry-header {
    text-align: center;
    position: relative;
    display: block; }
  .article-post-aside .standard-featured-link {
    display: block;
    position: relative; }
    .article-post-aside .standard-featured-link:hover .standard-featured:after, .article-post-aside .standard-featured-link:focus .standard-featured:after {
      box-shadow: inset 0px 0px 17px 6px rgba(0, 0, 0, 0); }
    .article-post-aside .standard-featured-link .button-container {
      bottom: 10px;
      position: absolute;
      left: 35%; }
  .article-post-aside .standard-featured {
    height: 100%;
    min-height: 250px;
    display: block;
    position: relative;
    margin: 0; }
    .article-post-aside .standard-featured:after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      box-shadow: inset 0px 0px 17px 6px rgba(0, 0, 0, 0.19); }
    .article-post-aside .standard-featured:hover, .article-post-aside .standard-featured:focus {
      -webkit-transition: box-shadow 320ms ease;
      -moz-transition: box-shadow 320ms ease;
      -ms-transition: box-shadow 320ms ease;
      -o-transition: box-shadow 320ms ease;
      transition: box-shadow 320ms ease; }
      .article-post-aside .standard-featured:hover:after, .article-post-aside .standard-featured:focus:after {
        box-shadow: inset 0px 0px 17px 6px rgba(0, 0, 0, 0); }
  .article-post-aside .entry-meta {
    font-size: 12px;
    position: absolute;
    z-index: 1;
    display: block;
    bottom: 0;
    background-color: #00000075;
    padding: 7px;
    letter-spacing: 0.6px; }
    .article-post-aside .entry-meta a {
      color: #ffffff;
      text-decoration: none;
      cursor: pointer;
      font-weight: 200;
      font-style: italic;
      padding: 10px; }
  .article-post-aside .entry-excerpt {
    font-size: 13px;
    padding: 10px 0;
    text-align: left;
    font-weight: 300;
    letter-spacing: 0.8px;
    line-height: 1.6; }
  .article-post-aside .default-post-container {
    display: block;
    position: relative;
    background-color: #fff;
    min-height: auto;
    padding: 20px; }
    .article-post-aside .default-post-container:hover, .article-post-aside .default-post-container:focus {
      -webkit-transition: background-color 820ms ease;
      -moz-transition: background-color 820ms ease;
      -ms-transition: background-color 820ms ease;
      -o-transition: background-color 820ms ease;
      transition: background-color 820ms ease;
      background-color: #ffffffba; }
    .article-post-aside .default-post-container h1 {
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 1px;
      line-height: 1.2;
      color: #1d1d1d;
      margin: 0; }
  .article-post-aside .button-container {
    bottom: 10px;
    position: absolute;
    right: 10px; }
  .article-post-aside .tag-list {
    font-size: 9px;
    padding: 10px 0 5px 0; }
  .article-post-aside .split {
    width: 90px;
    height: 1px;
    background-color: #ff007f; }
  .article-post-aside .button-container-readmore {
    background-color: #ff007f;
    width: 35px;
    height: 35px;
    position: absolute;
    display: block;
    bottom: 0;
    right: 0; }
  .article-post-aside .btn-arrow {
    top: 7px;
    right: 13px;
    display: block;
    position: absolute; }
  .article-post-aside .btn-arrow a {
    text-decoration: none;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: #000;
    color: black;
    text-shadow: rgba(245, 245, 245, 0.08) 1px 1px 1px; }
    .article-post-aside .btn-arrow a:hover, .article-post-aside .btn-arrow a:focus {
      color: #d2d2d2; }
  .article-post-aside .btn-arrow a:before {
    font-family: 'FontAwesome';
    content: '\f0da';
    font-size: 21px;
    position: relative; }

.theme-format-audio iframe {
  width: 100%;
  height: 200px; }

/* 
	WIDGET FORMAT
	------------------------------------
*/
.test-widget {
  text-align: center;
  /* box-shadow: inset 1px 1px 1px #000; */
  padding-top: 5px; }

.test-widget a {
  font-size: 14px; }

.test-widget ul {
  padding: 0; }

h2.test-widget-title {
  font-size: 18px;
  line-height: 1.2;
  font-family: Futura;
  background-color: #000;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: #000;
  color: transparent;
  text-shadow: rgba(245, 245, 245, 0.08) 1px 1px 1px; }

/* 
	PAGES
*/
.test-widget.widget_pages {
  text-align: center; }

.test-widget.widget_pages ul {
  list-style: none;
  display: -webkit-inline-box;
  padding-left: 0;
  margin-top: 0; }

.test-widget.widget_pages li {
  padding: 0 10px; }

.test-widget ul#menu-header-menu {
  display: inline-flex;
  padding: 0; }
  .test-widget ul#menu-header-menu a {
    padding: 12px; }

.test-widget li.menu-item {
  margin-right: 5px;
  background: #ffffff08;
  padding: 5px;
  box-shadow: 2px 2px 2px #000; }
  .test-widget li.menu-item:hover, .test-widget li.menu-item:focus, .test-widget li.menu-item:active {
    box-shadow: inset 1px 1px 1px #000; }

/* 
	Categories
	----------------------------------------
*/
.test-widget.widget_categories ul {
  padding-left: 0; }
  .test-widget.widget_categories ul li.cat-item {
    text-align: left;
    padding-left: 20px;
    font-size: 13px;
    line-height: 1.3; }
  .test-widget.widget_categories ul .stripped-span {
    right: 20px;
    position: absolute;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
    background-color: #ffffff87;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: #000;
    color: transparent;
    text-shadow: rgba(0, 0, 0, 0.52) 1px 1px 1px; }

/* 
	Text 
	----------------------------------------
*/
.test-widget.widget_text p {
  font-size: 12px;
  text-align: left;
  padding: 0 20px;
  color: #ffffffb8;
  letter-spacing: 1px; }

.test-widget.widget_tag_cloud {
  text-align: center; }
  .test-widget.widget_tag_cloud .tagcloud {
    padding: 0 50px; }
    .test-widget.widget_tag_cloud .tagcloud a {
      background-color: #0000007a;
      padding: 6px;
      border-radius: 10px;
      margin: 0px;
      line-height: 2; }

/*
	Return to top button
	--------------------------------------
*/
#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #1f1f1fb3;
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

#return-to-top span {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.pinit-up-button:before {
  font-family: 'FontAwesome';
  content: '\f0de';
  font-size: 29px;
  position: relative; }

#return-to-top:hover {
  background-color: #1f1f1f; }

#return-to-top:hover span {
  color: #fff;
  top: 5px; }

/*# sourceMappingURL=test.css.map */
