/*
	VARIABLES
	----------------------------------------------
*/

$icon-font : 'font-awesome';

$primary-color : #fff;
$light-gray : #eee;
$dark-gray : #1d1d1d;
$link-color : #f11;
$nav-link-background : #b1b1b1;

$background-color: #1f1f1f;