/* 
	SINGLE POST FORMAT
	------------------------------------
*/


.content-area {
	margin-left: 60px;
}

.single-page-container{
	width: 95%;
	margin: auto;
}

.navigation,
.post-navigation {
	width: 95%;
	margin: auto;
}

.stripped-single-post {
	& p {
		letter-spacing: 0.4px;
		line-height: 1.5;
	}
	
	&.entry-content {
		min-height: 450px;

	}

	&.entry-header {
		margin-bottom: 120px;
	}

	&.entry-meta {
	    text-align: center;
	    font-size: 20px;

	  & a {
		    color: #000;
		    text-decoration: none;
		}
	}	

		&.entry-title {
		    text-align: center;
		    

	  	  &.entry-title h1{
	    	font-size: 35px;
		    margin: 0;
		    line-height: 1;
		    padding-top: 15px;
			}
		}

	&.entry-keywords {
		padding-top: 50px;

		a {
	    padding-left: 7px;
	    color: #000;
	    text-decoration: none;
	    font-size: 15px;
		}	
	}

	&.entry-footer {
		margin-top: 150px;
	}
}

/* 
	FOOTER 
	----------------------------------------
*/

.nav-prev,
.nav-next {
    width: 350px;
    height: 250px;
    overflow: hidden;
    float: left;
    margin: 10px;

    .stripped-nav-prev-title {
	    display: block;
	    position: absolute;
	    margin-top: -529px;
	    background-color: #1d1d1d;
	    height: 105px;
	    width: 350px;
	    text-align: center;
	    padding-top: 145px;

	    &:hover,
	    &:focus {
	    	background-color: #1d1d1d82;
	    }
	}

    .stripped-nav-next-title {
	    display: block;
	    position: absolute;
	    margin-top: -210px;
	    background-color: #ff8f8f;
	    height: 105px;
	    width: 350px;
	    text-align: center;
	    padding-top: 145px;

	    &:hover,
	    &:focus {
	    	background-color: #ff8f8f82;
	    }
	}	

	& img {
		width: 350px;
		height: auto;
		z-index: 3; 

		&:after {
			background-color: #000;
		}
	}

    & span {
    	color: #fff;
    	font-size: 18px;
    	font-weight: 300;
    	font-family: roboto;
    }

    a.stripped-prev-a,
    a.stripped-next-a {
	    position: absolute;
	    margin-top: -50px;
	    margin-left: 18px;
	    color: #fff;
	    font-weight: 200;
}
}	

.stripped-single-post-footer {
    position: absolute;
    display: inline-block;
}
