/* 
	SINGLE POST FORMAT
	------------------------------------
*/



.content-area {
	margin-left: 60px;
}

.single-page-container{
	width: 65%;
	margin: auto;
}

.navigation,
.post-navigation {
	width: 65%;
	margin: auto;
}

.stripped-single-post {
	& p {
		letter-spacing: 0.4px;
		line-height: 1.5;
	}
	
	&.entry-content {
		min-height: 450px;

	}

	&.entry-header {
		margin-bottom: 120px;
	}

	&.entry-meta {
	    text-align: center;
	    font-size: 20px;

	  & a {
		    color: #000;
		    text-decoration: none;
		}
	}	

		&.entry-title {
		    text-align: center;
		    

	  	  &.entry-title h1{
	    	font-size: 35px;
		    margin: 0;
		    line-height: 1;
		    padding-top: 15px;
			}
		}

	&.entry-keywords {
		padding-top: 50px;

		a {
	    padding-left: 7px;
	    color: #000;
	    text-decoration: none;
	    font-size: 15px;
		}	
	}

	&.entry-footer {
		margin-top: 150px;
	}
}
