/*
	IMPORT 
	*************************
*/

@import 'mixin';
@import 'variables';

/*
	GENERAL 
	*************************
*/

html {
	margin-top: 0px !important;
}
a{
	@include animate( color, 820ms );
	&:hover,
	&:focus {
	text-decoration: none;
	}
}
.background-image {
	background-position: center center; background-size: cover; background-repeat: no-repeat;
}

/*
	SIDEBAR 
	*************************
*/
.text-center{
	text-align: center;
}
.test-sidebar{
	position: fixed;
	color: $primary-color;
	z-index: 9;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 20px;
	background-color: #3b3b3b;
	height: 100vh;
	width: 100%;
	max-width: 280px;
	@include animate( transform, 420ms );

	&.sidebar-closed {
		@include transform( translateX( 100% ) );
	}
	@include box-shadow(3px, 3px, 12px, 2px #000 );
}

.test-sidebar-container{
	position: relative;
	display: block;
	width: 100%;
	height: 100vh;
}
.sidebar-close {
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	cursor: pointer;

	&:hover,
	&:focus {
		color: #000;
	}
}

.sidebar-open {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #000;
	cursor: pointer;

	&:hover,
	&:focus {
		color: #fff;
	}
}
.image-container{
	display: block;
	width: 100%;
	overflow: hidden;
	text-align: center;
}
.profile-picture{
	width: 150px;
	height: 150px;
	overflow: hidden;
	margin: 20px auto;
	border-radius: 10%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
h1.test-username,
h2.test-discription,
h2.test-title{
	font-weight: 100; 
	color: #fff;
}
h1.test-username{
	font-size: 24px;
	margin: 0 0 10px;
}
h2.test-discription{
	font-size: 13px;
	text-align: left;
	margin: 0 0 20px;
}
h2.test-title{
	font-size: 15px;
	margin: 0 0 20px;
}
ul.socialMedia{
	list-style-type: none;
	display: inline-flex;
	padding-left: 20px;
}
li.socialMedia{
	margin-right: 20px;
}
.socialMedia a{
	color: #717171;
	text-decoration: none;

	&:hover,
	&:focus {
	color: #d2d2d2;
	}
}
.socialMedia a:before{
	font-family: 'FontAwesome';
	content: '\f16d';
	font-size: 15px;
	position: relative;
}

.instagram a:before{
	content: '\f16d';
}
.facebook a:before{
	content: '\f09a';
}
.linkedIn a:before{
	content: '\f08c';
}

/* 
	STANDARD POST FORMAT
	------------------------------------
*/
.entry-content {
	
}
.standard-featured-link{
	display: block; 
	position: relative;

	&:hover,
	&:focus {
	.standard-featured {
		&:after { background-color: rgba(0,0,0,0); }
	}
	}
}
.standard-featured {
	height: 50vh; 
	display: block; 
	position: relative; 

	&:after {
	@include animate( background-color, 820ms );
	 content: '';
	 position: absolute;
	 display: block; 
	 top: 0;
	 right: 0;
	 bottom: 0;
	 left: 0;
	 background-color: rgba(0, 0, 0, 0.25);
	 box-shadow: inset 0px 0px 17px 6px rgba(0, 0, 0, 0.42);
	 }

}












